.multi-player-chat {
  cursor: default;
  border: none;
  position: fixed;
  bottom: 0px;
  right: 30px;
  width: 260px;
  border-radius: 8px 8px 0 0;
  z-index: 2;

  header {
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    background-color: #303030;
    padding: 12px;
  }

  .multi-player-chat__collapse {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;

    &.open {
      max-height: 300px;
    }
  }

  main {
    padding: 12px;
    background-color: #585858;
    overflow-y: scroll;
    max-height: 200px;
  }

  footer {
    padding: 12px;
    background-color: #585858;
  }
}
