.home-page {
  background-color: #00070a;
  height: 100vh;
  display: flex;
  justify-content: center;

  & .home-page-bg {
    position: fixed;
    height: 100vh;
    z-index: 1;
  }

  & .box {
    padding-top: 100px;
    width: 500px;
    text-align: center;
    z-index: 2;
  }

  & .text {
    font-size: 56px;
    color: white;
    text-shadow: 3px 3px 21px black;
  }

  & .bh-button {
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 10px;
  }
}
