.home-page {
  background-image: url('images/sniper-aim-bg.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  background-color: #00070a;
  height: 100vh;
  display: flex;
  justify-content: center;

  & .box {
    padding-top: 100px;
    width: 500px;
    text-align: center;
  }

  & .text {
    font-size: 56px;
    color: white;
    text-shadow: 3px 3px 21px black;
  }

  & .bh-button {
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 10px;
  }
}
