.bh-button {
  padding: 8px 16px;
  border-radius: 4px;
  height: max-content;
  cursor: pointer;

  &.bh-button--primary {
    border: solid 1px transparent;
    background-color: #e3e3e3;
    color: #333;
  }

  &.bh-button--secondary {
    border: solid 1px #e3e3e3;
    color: #e3e3e3;
    background-color: transparent;
  }

  &.bh-button--tertiary {
    border: none;
    background-color: transparent;
    color: #e3e3e3;
    font-weight: 800;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
