.bh-text {
  margin: 0;

  &.bh-text--block {
    display: block;
  }

  &.bh-text--secondary {
    color: #ccc;
  }

  &.bh-text__size--xxs {
    font-size: 11px;
  }

  &.bh-text__size--xs {
    font-size: 12px;
  }

  &.bh-text__size--sm {
    font-size: 16px;
  }

  &.bh-text__size--md {
    font-size: 20px;
  }

  &.bh-text__size--lg {
    font-size: 24px;
  }

  &.bh-text__size--xl {
    font-size: 32px;
  }

  &.bh-text__size--xxl {
    font-size: 64px;
  }

  &.bh-text__weight--light {
    font-weight: 300;
  }
  &.bh-text__weight--medium {
    font-weight: 500;
  }
  &.bh-text__weight--bold {
    font-weight: 800;
  }

  &.bh-text__align--center {
    text-align: center;
  }

  &.bh-text__align--right {
    text-align: right;
  }
}
