.bh-guest-status {
  color: #aaa;

  & .bh-guest-status-circle {
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    width: 8px;
    height: 8px;

    &:before {
      content: ' ';
    }
  }
}
