.login-page {
  display: flex;
  justify-content: center;
  height: var(--full-height);

  & .login-page__box {
    margin-top: 300px;
    text-align: center;
    z-index: 2;

    & .sign-in-button > div > div {
      border-radius: 50px;
      box-shadow: 5px 5px 15px #222;
    }
  }

  & .login-page__bg {
    position: fixed;
    height: var(--full-height);
    z-index: 1;
  }
}
